In [2]:
#2. Во втором массиве сохранить индексы четных элементов первого массива.
#Например, если дан массив со значениями 8, 3, 15, 6, 4, 2,
#второй массив надо заполнить значениями 1, 4, 5, 6 (или 0, 3, 4, 5, если индексация начинается с нуля),
#т.к. именно в этих позициях первого массива стоят четные числа.


#Алгоритм (псевдокод)
# начало
# создать массив с числами для разбора
# создать массив для заполнения четными числами
# заполнить первый массив случайными значениями
# пронумеровать индексами каждое значение в первом массиве
# сравнить значения первого массива по признаку деления на 2 без остатка
# и если делится без остатка, то добавить индекс во второй массив
# результаты выводим на печать
# конец


import random

listl=[]
odd_num_pos=[]
for i in range(0,20):
    listl.append(random.randint(0,1000))
for pos,i in enumerate(listl):
    if i%2==0:
        odd_num_pos.append(pos)
print('\n','Индексы четных чисел из первого массива:\n',odd_num_pos)
        

    
#чтобы долго не проверять результаты, добавил вывод в виде датафрейма для данных из первого массива:
#виден индекс (первый столбец без заголовка) и случайные значения (второй столбец с заголовком "0"),
#которыми он был заполнен.
print('\n'*5,'*'*30,'\n','Проверка результатов:')
import pandas as pd
#Проверка полученных результатов
pd.DataFrame(listl)

 Индексы четных чисел из первого массива:
 [0, 1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 15]





 ******************************
 Проверка результатов:

      0
0   102
1   360
2   559
3   668
4   316
5   993
6   340
7   166
8   446
9   840
10  200
11  654
12  380
13  568
14  309
15  102
16  125
17  739
18  705
19   21